In [167]:
import pandas as pd
import numpy as np
import math

## example dataframe

In [168]:
df = pd.DataFrame({'4-YRWrist':[1, 2, 2, 1, -1, -1, 1, 1, 1, 1, 1], '7-YLWrist':[1,1,1,1,1,1,1,1,1,1,1], 'YHead':[0,0,0,0,0,0,0,0,0,0,0]})

In [169]:
display(df)

    4-YRWrist  7-YLWrist  YHead
0           1          1      0
1           2          1      0
2           2          1      0
3           1          1      0
4          -1          1      0
5          -1          1      0
6           1          1      0
7           1          1      0
8           1          1      0
9           1          1      0
10          1          1      0

In [170]:
"""if hand is raised the interval is x.5
if we are in a rest period the interval is even (mod(interval, 2)==0)
if we are in a workout period the iterval is odd (mod(interval, 2)==1)"""
interval = 0
df['interval'] = np.zeros(df.shape[0])
row = 1
while row<df.shape[0]:
    if np.sign(np.nanmin([df.loc[row,'4-YRWrist'], df.loc[row,'7-YLWrist']]) - df.loc[row, 'YHead']) != np.sign(np.nanmin([df.loc[row - 1,'4-YRWrist'], df.loc[row - 1,'7-YLWrist']]) - df.loc[row - 1, 'YHead']):
        interval += 0.5
    df.interval[row] = interval
    row += 1

number_of_stages = len(df.interval.value_counts()) #the different stages    
interval = 0
interval_frames = []
for i in np.arange(number_of_stages):
    interval_frames.append(df[df.interval==interval])
    interval += 0.5

/home/roee/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [171]:
interval_frames[0]

   4-YRWrist  7-YLWrist  YHead  interval
0          1          1      0       0.0
1          2          1      0       0.0
2          2          1      0       0.0
3          1          1      0       0.0

In [173]:
interval_frames[1]

   4-YRWrist  7-YLWrist  YHead  interval
4         -1          1      0       0.5
5         -1          1      0       0.5

In [174]:
interval_frames[2]

    4-YRWrist  7-YLWrist  YHead  interval
6           1          1      0       1.0
7           1          1      0       1.0
8           1          1      0       1.0
9           1          1      0       1.0
10          1          1      0       1.0